main{

    .content2{
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 10px;

        .producto{
            position: relative;
            margin: 10px;
            padding: 10px;
            border: none;
            justify-content: center;
            overflow: hidden;
            flex:none;

            img{
                height:60%;
                padding:0px;
                margin: 5px;
                object-fit: cover;
                flex-wrap: wrap;
            }

            img:hover{
                transform:scale(1.1) ;
                transition: 0.9s;
            }

            .name{
                margin-top:20px;

                h1{
                    font-size: 20px;
                    font-weight: bolder;
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-style: italic;
                    font-weight: 0.9px;
                    font-size: 18px;
                }

            }


        }
    }
    @media only screen and (min-width:600px){
        .content2{
          grid-template-rows: repeat(2, 500px);
        }
      }
      
      @media only screen and (min-width:850px){
        .content2{
          grid-template-rows: repeat(2, 650px);
        }
      }
      
      @media only screen and (min-width:1400px){
        .content2{
          grid-template-rows: repeat(2, 800px);
        }
      }
      
}