main{
    .content5{
        width: 100%;
        margin: 0px;
        background-color: white;
        border-top: 2px solid $color-secundario;
        float:center;

        .logo-back{
            height: 500px;
            margin-top: 0px;
            margin-bottom: 10px;
            background-image:url("../imagenes/jabones.jpg");
            background-position:center;
            display: grid;
            grid-area: "imagen-logo";
            padding: 30px;

            .logo2{
                max-width:50%;
                font-size: 50px;
                text-align: center;
                padding: 4px;
                margin: auto;
                min-height: 80px;
              }

          }

          .contact{
            display: block;
            width: 50%;
            margin:auto;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #1c1c1c;
            border-radius: 30px;
            background-color: rgb(240, 234, 220, 0.53);
            text-align: center;

            h1{
                width: 100%;
                height: inherit;
                font-size: 30px;
            }
            p{
                width: 100%;
                font-style: italic;
                font-size: 18px;
                margin: 5px;
            }

            form{
                margin: 3px;
                width: 100%;
                padding: 5px;
                text-align: center;


                h2{
                    font-size: 20px;
                  }

                label{
                    font-size: 20px;
                }
                .form-control{
                    font-size: 20px;
                    float: center;
                    width: 70%;
                    margin:auto;
                    background: none;
                    border:none;
                    border-bottom: 2px solid #1c1c1c;
                    box-shadow: 2px 1px 2px 1px  #1c1c1c;
                }
                textarea{
                    min-height: 100px;
                    max-height: 200px;
                    width:100%;
                    background: none;
                    border: 1px solid #1c1c1c;
                }
                
                .boton{
                    display: block;
                    width: 100%;
                    padding: 3px;
                    font-size: 18px;
                    margin:auto;
                    border: 1px solid black;
                    background-color: $color-terciario;
                    box-shadow: 2px 2px 2px #1c1c1c;
                    cursor:pointer;
                }

            }


          }

    }
}