main{
    .content3{

        h1{
            font-size: 40px;
            text-align: center;
            margin-top: 10px;
        }
    
        .boxes{
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-rows: 1fr, 1fr, 1fr;
    
            .row{
                
                .consejo-img {
    
                    img{
                        width: 90%;
                        height: 100%;
                        object-fit: contain;
                        padding: 20px;
                        flex-wrap:wrap;
                    }
                }
    
                .text{
                    padding: 30px;
                    margin: auto;
                    width: inherit;
    
                    h2{
                        font-size: 30px;
                        text-align: center;
                        padding: 10px;
                    }
    
                    p{
                        font-size: 18px;
                        max-height: 50%;
                        overflow: scroll;
                    }
    
                }
    
            }
            
        }
    
        @media only screen and (max-width:768px){

            .boxes{
              grid-template-columns: 1fr;
            }
          }
    }
    
}
.content3{

    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 10px;
    }

    .boxes{
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-rows: 1fr, 1fr, 1fr;

        .row{
            display: grid;
            grid-template-columns: repeat(2,50%);

            .consejo-img {

                img{
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                    padding: 20px;
                    flex-wrap:wrap;
                }
            }

            .text{
                padding: 30px;
                margin: auto;
                width: inherit;

                h2{
                    font-size: 30px;
                    text-align: center;
                    padding: 10px;
                }

                p{
                    font-size: 18px;
                    max-height: 50%;
                    overflow: scroll;
                }
                

            }

        }

        @media only screen and (max-width:768px){
                .row{
                    grid-template-columns: 1fr;
                }
        }
    }
}
